body{
	
	padding: 16px;
	margin: 0px;
	background-color: #ffffff;
	background-image: url("images\light-blue-background2.jpg");
	
}

.content-container{
	
	width: 630px;
	height: 810px;
	float: left;
	padding: 12px;
	margin: 4px;
	border: 1px solid gray;
	
}

.img-container{
	
	width: 265px;
	height: 210px;
	padding: 3px;
	margin: 16px 0px 26px 320px;
	border: 6px solid gray;
}

.img{
	width: 240px;
	height: 160px;
	padding: 3px;
	margin: 4px;
	border: 2px solid gray;}
	
.ch-file{

    width: 210px;
    height: 40px;
    font-size: 78%;
    margin: 2px 0px 0px 4px;
    
}
	
	
	
	
