body{
	
	background-image: url("posv2backgroundLoginLogo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}

.titleLogo{
	
	width: 310px;
	height: 190px;
	padding: 0px;
	line-height: 30px;
	margin: 20px 0px 0px 495px;
	border: 1px solid red;
	padding: 70px 0px 0px 0px;
	opacity: 0.6;}
	
.form{
	
	width: 310px;
	height: 310px;
	padding: 0px;
	line-height: 30px;
	margin: 10px 0px 0px 495px;
	border: 1px solid red;
	padding: 0px;}
	
.form-inputs{
	
	width: 305px;
	height: 52px;
	border: 1px solid green;
	border-radius: 30px;
	background-color: none;
	color: #008080;
	margin: 15px 0px 0px 0px;
	padding: 0px 0px 0px 41px;
	font-family: georgia;
	opacity: 0.9;
	font-size: 95%;}
	
.submit{
	
	width: 305px;
	height: 50px;
	border: 1px solid green;
	border-radius: 30px;
	background-color: #008080;
	color: #fff;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	font-family: georgia;
	font-weight: bold;
	text-align: center;
	opacity: 0.9;
	font-size: 91%;}
	

.submit:hover{
	
	width: 305px;
	height: 50px;
	border: 1px solid green;
	border-radius: 30px;
	background-color: #fff;
	color: #008080;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	font-family: georgia;
	font-weight: bold;
	text-align: center;
	opacity: 0.9;
	font-size: 91%;}	
	
#userNameIcon{
	
	position: absolute;
	top: 252px;
	left: 515px;
	z-index: 1;
	
}

#passwordIcon{
	position: absolute;
	top: 317px;
	left: 515px;
	z-index: 1;
}